

.content {
  padding: 30px;
  background-image: url("../../Images/home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0;
}

.contentImage {
  background-color: rgba(255, 255, 255, 0.5);
}

.body {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}


.tableHead {
  background-color: #8a1538;
}

.tableBody {
  background-color: rgb(228, 206, 174);
}
.tableCell{

  font-size: 18px;
  color: white;
}

