* {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color:#ffff;
 
}
.App{
  background-color: #6F2121;
}
.navbar{
  padding: 20px;
  display:flex;
  align-items: center;
  width: auto;
 
  /*border-bottom: 1px solid #f2f2f2;*/
}
.navbar img{
  width:100px;
  height: 120px;
  padding-left: 20px;
  padding-right: 30px;
}
 .navbar .links{
  margin-left: auto;
}
.navbar text{
  font-size: 30px;
  color: white;
  font-weight: 900;
}
.navbar button{
  margin-left: 20px;
  margin-top: 60px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  border-radius: 10px;

}
.navbar button#log{
  background-color: lightgreen;
}
.navbar button#signup{
  background-color: grey;
}
.navbar button:hover{
  color: #f1356d;
}

.content {
  
  /*margin: 40px auto;*/
  padding: 20px;
  background-color: #EEEBAD;
}
.home img{
  align-items: left;
  max-width: 600px;
  max-height: 300px;
  position: absolute;
}
.home h1{
  position: relative;
  text-align: center;
  color: #000000;
}

.events{
position: relative;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  background-color:lightgray;
  border-radius: 20px;
}

.events img{
  align-items: baseline;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.home h3{
  text-align: center;
  color: #000000;
}
.about{
  align-items: center;
  max-width: 800px;
  width: auto;
  border-radius: 20px;
  background-color: lightgreen;
  padding: 50px;
  margin:auto;
  
}

.about h1{
  text-align: center;
  color: #000000;
}

.about p{
  text-align: center;
  font-size: 30px;
  color: #000000;
}
.images{
  align-items: center;
}
.img1 img,.img2 img,.img3 img,.img4 img,.img5 img,.img6 img{
  margin: 10px;
  border-radius: 20px;
  height: 200px;
  width: 300px;
 
  
 
}


.map{
  height: auto;
}
.map p{
  align-items: center;
}
.map iframe{
  border-radius: 20px;
}
.footnote{
  background-color: #6F2121;
  padding: 20px;
  
}
.footer{
  margin-left: 20px;
  font-size:20px;
  
}

.footer img{
  width:30px;
  height: 30px;
  margin-right: 20px;
}










