.content {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

.container {

    background-color: aliceblue;
    padding: 15px;
    width: 1000px;
    height: 500px;
    color: black;


}

.header {
    /* color: #8a1538; */
    color: black;
    font-size: 40px;
    text-align: center;
}

.img_box {
    width: 400px;
    height: 300px;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
}

.right {
    float: right;
    width: 500px;
    background-color: antiquewhite;
    padding: 40px;
}

.left {
    float: left;
    width: 400px;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
}

.booking_btn {
    float: right;
    padding-top: 20px;
}

label {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}