.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: auto;
  background-color: #6F2121;



  width: 100%;

  /*border-bottom: 1px solid #f2f2f2;*/
}

.navbar img {
  width: 100px;
  height: 120px;
  padding-left: 20px;
  padding-right: 30px;
}

.links {
  margin-left: auto;
}

.navbar text {
  font-size: 30px;
  color: white;
  font-weight: 900;
}

.links link {
  margin-left: 20px;
  margin-top: 60px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  border-radius: 10px;

}

.links .log {
  background-color: lightgreen;
  text-decoration: none;
  border-radius: 8px;
  margin-right: 5px;
  max-width: 400px;

}

.links .signup {
  background-color: grey;
  text-decoration: none;
  border-radius: 8px;
  margin-left: 5px;
}

.links link:hover {
  color: #f1356d;
}

.userProfileContainer {
  margin-left: auto;
}