.footer {
  font-size: 20px;
  background-color: #6F2121;
  padding: 20px;

  bottom: 0;
  width: 100%;


}

.footer img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

* {
  font-family: 'Times New Roman', Times, serif;
  color: #ffff;
}